<link rel="stylesheet" href="/css/game.css"/>

<h1> {{ game.title }} </h1>

<span class="load dropdown">
  <button class="btn btn-primary dropdown-toggle"> Select Story <span class="caret"></span> </button>
  <ul class="dropdown-menu">
    <li ng-repeat="story in stories">
    <a ng-click="selectStory(story.savename)">{{story.savename}}</a>
    </li>
  </ul>
</span>
<div class="container-fluid">
  <div class="stats sidebar col-lg-2" ng-show="game.stats.length">
    <table class="table"> <tbody>
      <tr ng-repeat="stat in game.stats">
        <td> {{stat.name}} </td><td> {{stat.start}} </td>
      </tr>
    </tbody> </table>
  </div>

  <tabset class="col-lg-10">
  <tab heading="Play">
  <div class="main content">
    <div class="name">
      <b>{{game.current_place.name}}</b>
    </div>
    <div class="desc">
      {{game.current_place.desc}}
    </div>

    <ul class="list-group items" ng-show="game.available_objects">
      Here, you see:
      <li class="item list-group-item" ng-repeat="object in game.available_objects">
      {{object.name}} - {{object.desc}}
      <button class="btn btn-primary" ng-show="object.takeable" ng-click="take(object.id)">Take</button></li>
    </ul>

    <ul class="routes list-group" ng-show="game.available_routes">
      You can go:
      <li class="route list-group-item" ng-repeat="route in game.available_routes">
      <button ng-click="goto(route.to)" ng-disabled="! reqsSatisfied(route)">
        {{route.name}}
      </button>
      {{route.desc}} </li>
    </ul>
  </div>
  </tab>
  <tab heading="Inventory">
    <ul>
      <li ng-repeat="obj in game.inventory">
        {{obj.name}} - {{obj.desc}}
      </li>
    </ul>
  </tab>
  </tabset>
</div>
