<div class="container col-md-6" >
  
  <h1> Welcome to StoryTime </h1>
  
  <h3> Getting Started </h3>
  <p>
  StoryTime is a simple way to make and play interactive stories. To get a feel for how things work, check out the <a href="#/writer">Writer tab</a>. Once you've written a story (or imported one from a friend), try it out in the <a href="#/game">Game tab</a>.
  </p>

  <h3> Contributing </h3>
  <p>
  The full source to StoryTime is hosted on <a href="github.com/fwip/storytime">Github</a>.
  If something's broken, unintuitive, or if you've just got a new idea that you'd like to see, let me know at the <a href="https://github.com/fwip/storytime/issues">issues page</a>, and I'll take a look at it.
  </p>

</div>
