<div class="container col-md-6">

  <h2> Oct 15, 2013 </h2>
  <h3> In this patch: </h3>
  <p> <ul>
    <li> Working draft of requirements. Currently only supports
    requiring objects in order to enable certain routes. Add these
    under the Routes tab, for now. </li>
  </ul></p>
  <h3> Planned: </h3>
  <p> <ul>
    <li> Expand requirements to check stats </li>
    <li> Add hidden stats </li>
    <li> Add actions, e.g. "Pull the lever" </li>
    <li> Allow "effects" - still figuring out implementation on this </li>
    <li> Add grid-based view and/or "map" overview to writer </li>
  </ul> </p>

</div>
