<h1> Writing: {{ game.title }} </h1>

<span class="new">
  <button class="btn btn-primary" ng-click="newGame()">New Story</button>
</span>
<span class="save">
  <button class="btn btn-primary" ng-click="saveGame(game.savename)">Save</button>
</span>
<span class="saveas dropdown">
  <button class="btn btn-primary dropdown-toggle">Save As <span class="caret"></span> </button>
  <ul class="dropdown-menu">
    <li ng-repeat="save in savedGames">
    <a ng-click="saveGame(save.savename)">{{save.savename}}</a>
    </li>
    <li>
    <a ng-click="saveDialog()"> New Save </a>
    </li>
  </ul>
</span>
<span class="load dropdown">
  <button class="btn btn-primary dropdown-toggle"> Load <span class="caret"></span> </button>
  <ul class="dropdown-menu">
    <li ng-repeat="save in savedGames">
    <a ng-click="loadGame(save.savename)">{{save.savename}}</a>
    </li>
  </ul>
</span>
<span class="export">
  <button class="btn btn-primary" ng-click="export()">Export</button>
</span>
<span class="import">
  <button class="btn btn-primary" ng-click="import()">Import</button>
</span>
<span class="upgrade">
  <button class="btn btn-primary" ng-click="migrateStory()">Migrate Story (dev)</button>
</span>

<tabset>

<tab heading="General">
  <div class=" form-group">
    <label class="col-lg-2 "> Story Title </label>
    <div class="col-lg-10"> <input class="form-control input-lg" ng-model="game.title"></input> </div>
  </div>
  <div class="container form-group">
    <label class="col-lg-2"> Start </label>
    <div class="col-lg-10">
      <select ng-model="game.start" ng-options="place.id as place.name for place in game.places"></select>
    </div>
  </div>
</tab>

<tab heading="Stats">
<button class="btn btn-primary" ng-click="addStat()"> Add Stat </button>
<table class="table">
  <tr> <th> Stat </th> <th> Starting value </th> </tr>
  <tr ng-repeat="stat in game.stats">
    <td> <input class="form-control" ng-model="stat.name"> </input> </td>
    <td> <input class="form-control" ng-model="stat.start"> </input> </td>
  </tr>
</table>
</tab>

<tab heading="Routes">
<div class="panel-group" id="route_accordion">
  <button class="btn btn-primary" ng-click="addRoute()">New Route</button>
  <div array-accordion="routes"> </div>
</div>
</tab>

<tab heading="Objects">
<!-- Object code -->
<div class="pane-group" id="object_accordion">
  <button class="btn btn-primary" ng-click="addObject()">New Object</button>
  <div array-accordion="objects"> </div>
</div>
</tab>

<tab heading="Places">
  <button class="btn btn-primary" ng-click="addPlace()">New place</button>
  <div array-accordion="places"> </div>

</div>

</tab>
</tabset>
